@model Question
@{
    ViewData["Title"] = "AddQuestionForm";
}

<h1>Add Question Form</h1>

<form method="post" action="/QandA/SaveQuestion/">

    <input class="form-control" type="hidden" name="Id" value="@Model.Id"/><br />
    Username : <input class="form-control" type="text" value="@Model.Username" name="Username" /><br />
    Title: <input class="form-control" type="text" value="@Model.Title" name="Title" /><br />
    Detail: <input class="form-control" type="text" value="@Model.Detail" name="Detail" /><br />
    Posted: <input class="form-control" type="datetime" value="@Model.Posted" name="Posted" /><br />
    Category: <input class="form-control" type="text" value="@Model.Category" name="Category" /><br />
    Tags: <input class="form-control" type="text" value="@Model.Tags" name="Tags" /><br />
    Status:  <input class="form-control" type="number" value="@Model.Status" name="Status" /><br />
    <input  type="submit" value="Save"/>


</form>